{% extends 'base.html' %}
{% block content %}
<div class="max-w-4xl mx-auto mt-12">
    <!-- BACK BUTTON -->
    <div class="mb-4">
        {% if request.user.is_authenticated and request.user.userprofile.role == "client" %}
    {% url 'employer_dashboard' as dashboard_url %}
{% else %}
    {% url 'freelancer_dashboard' as dashboard_url %}
{% endif %}

<a href="{{ dashboard_url }}"
   class="inline-flex items-center gap-2 px-4 py-2 bg-gray-800 text-white text-sm rounded hover:bg-gray-700 transition">
    ← Back to Dashboard
</a>

    </div>
    <div class="bg-gradient-to-br from-[#1c1c1c] to-[#111] p-8 rounded-2xl border border-gray-800 shadow-xl">
        <!-- Header -->
        <div class="flex flex-col sm:flex-row items-center gap-6 mb-8">
            <!-- Profile Image -->
            <img src="{% if profile.image %}{{ profile.image.url }}{% else %}/media/default.png{% endif %}"
                 class="w-24 h-24 rounded-full object-cover border-4 border-primary shadow-lg">
            <!-- Username -->
            <div>
                <h1 class="text-3xl font-bold text-white">
                    {{ freelancer.username }}
                </h1>
                <p class="text-gray-400 text-sm">Freelancer</p>
            </div>
        </div>
        <!-- Bio -->
        <div class="mb-6">
            <h3 class="text-primary font-semibold mb-2">About</h3>
            <p class="text-gray-300 bg-black/40 p-4 rounded-lg border border-gray-700 leading-relaxed">
                {{ profile.bio|default:"No bio added" }}
            </p>
        </div>
        <!-- Skills -->
        <div class="mb-6">
            <h3 class="text-primary font-semibold mb-3">Skills</h3>
            <div class="bg-black/40 border border-gray-700 rounded-lg p-4 text-gray-300 leading-relaxed">
                {{ profile.skills|default:"No Skills are added"|linebreaks }}
            </div>
        </div>
        <!-- Experience -->
        <div class="mb-6">
            <h3 class="text-primary font-semibold mb-3">Experience</h3>
            <div class="bg-black/40 border border-gray-700 rounded-lg p-4 text-gray-300 leading-relaxed">
                {{ profile.experience|default:"No experience added"|linebreaks }}
            </div>
        </div>
    </div>
</div>
{% endblock %}